<div class="page-login-v2 layout-full page-dark">
    <div class="page animsition" data-animsition-in="fade-in" data-animsition-out="fade-out">
        <div class="page-content">
            <div class="page-brand-info">
                <div class="brand">
                    <img class="brand-img" src="/assets/images/logo.png" alt="...">
                    <h2 class="brand-text font-size-40">site.title</h2>
                </div>
                <p class="font-size-20 hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            {{outlet}}
        </div>
    </div>
</div>
