{{site-navbar class="navbar-fixed-top"}}
{{site-menubar menus=model}}

<div class="page animsition">
     <div class="page-header">
      <ol class="breadcrumb">
        <li><a href="..\index.html">Home</a></li>
        <li class="active">Basic UI</li>
      </ol>
      <h1 class="page-title">List</h1>
      <div class="page-header-actions">
        <button type="button" class="btn btn-sm btn-icon btn-primary btn-round" data-toggle="tooltip"
        data-original-title="Edit">
          <i class="icon md-edit" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-sm btn-icon btn-primary btn-round" data-toggle="tooltip"
        data-original-title="Refresh">
          <i class="icon md-refresh-alt" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-sm btn-icon btn-primary btn-round" data-toggle="tooltip"
        data-original-title="Setting">
          <i class="icon md-settings" aria-hidden="true"></i>
        </button>
      </div>
    </div>
   <div class="page-content padding-10 container-fluid">
      {{outlet}}
    </div>
</div>
