{{site-navbar class="navbar-fixed-top"}}
{{site-menubar menus=model}}

<div class="page animsition">
    {{page-header class="page-header"}}
    <div class="page-content padding-10 container-fluid">
      {{outlet}}
    </div>
</div>
