<div class="mm-panels scrollable scrollable-inverse scrollable-vertical is-disabled">
    <div class="mm-panel mm-hasnavbar mm-opened mm-current scrollable-container">
        <div class="mm-navbar scrollable-content"><a class="mm-title">Menu</a></div>
        <ul class="site-menu mm-listview scrollable-content">
      <li class="site-menu-item active">
        <a class="animsition-link" href="index.html">
          <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
          <span class="site-menu-title">Dashboard</span>
        </a>
      </li>
      <li class="site-menu-item has-sub">
        <a class="mm-next" href="#mm-1" data-target="#mm-1"></a><a href="javascript:void(0)">
          <i class="site-menu-icon md-view-compact" aria-hidden="true"></i>
          <span class="site-menu-title">Layouts</span>
          <span class="site-menu-arrow"></span>
        </a>
        
      </li>
      <li class="site-menu-item has-sub">
        <a class="mm-next" href="#mm-2" data-target="#mm-2"></a><a href="javascript:void(0)">
          <i class="site-menu-icon md-google-pages" aria-hidden="true"></i>
          <span class="site-menu-title">Pages</span>
          <span class="site-menu-arrow"></span>
        </a>
        
      </li>
      <li class="site-menu-item has-sub">
        <a class="mm-next" href="#mm-5" data-target="#mm-5"></a><a href="javascript:void(0)">
          <i class="site-menu-icon md-palette" aria-hidden="true"></i>
          <span class="site-menu-title">Basic UI</span>
          <span class="site-menu-arrow"></span>
        </a>
        
      </li>
      <li class="site-menu-item has-sub">
        <a class="mm-next" href="#mm-7" data-target="#mm-7"></a><a href="javascript:void(0)">
          <i class="site-menu-icon md-format-color-fill" aria-hidden="true"></i>
          <span class="site-menu-title">Advanced UI</span>
          <span class="site-menu-arrow"></span>
        </a>
        
      </li>
      <li class="site-menu-item has-sub">
        <a class="mm-next" href="#mm-8" data-target="#mm-8"></a><a href="javascript:void(0)">
          <i class="site-menu-icon md-puzzle-piece" aria-hidden="true"></i>
          <span class="site-menu-title">Structure</span>
          <span class="site-menu-arrow"></span>
        </a>
        
      </li>
      <li class="site-menu-item has-sub">
        <a class="mm-next" href="#mm-9" data-target="#mm-9"></a><a href="javascript:void(0)">
          <i class="site-menu-icon md-widgets" aria-hidden="true"></i>
          <span class="site-menu-title">Widgets</span>
          <span class="site-menu-arrow"></span>
        </a>
        
      </li>
      <li class="site-menu-item has-sub">
        <a class="mm-next" href="#mm-10" data-target="#mm-10"></a><a href="javascript:void(0)">
          <i class="site-menu-icon md-comment-alt-text" aria-hidden="true"></i>
          <span class="site-menu-title">Forms</span>
          <span class="site-menu-arrow"></span>
        </a>
        
      </li>
      <li class="site-menu-item has-sub">
        <a class="mm-next" href="#mm-12" data-target="#mm-12"></a><a href="javascript:void(0)">
          <i class="site-menu-icon md-border-all" aria-hidden="true"></i>
          <span class="site-menu-title">Tables</span>
          <span class="site-menu-arrow"></span>
        </a>
        
      </li>
      <li class="site-menu-item has-sub">
        <a class="mm-next" href="#mm-13" data-target="#mm-13"></a><a href="javascript:void(0)">
          <i class="site-menu-icon md-chart" aria-hidden="true"></i>
          <span class="site-menu-title">Chart</span>
          <span class="site-menu-arrow"></span>
        </a>
        
      </li>
      <li class="site-menu-item has-sub">
        <a class="mm-next" href="#mm-14" data-target="#mm-14"></a><a href="javascript:void(0)">
          <i class="site-menu-icon md-apps" aria-hidden="true"></i>
          <span class="site-menu-title">Apps</span>
          <span class="site-menu-arrow"></span>
        </a>
        
      </li>
    </ul>
    </div>
</div>
