<div class="mm-panels scrollable scrollable-inverse scrollable-vertical is-disabled">
    <div class="mm-panel mm-hasnavbar mm-opened mm-current scrollable-container">
        <div class="mm-navbar scrollable-content"><a class="mm-title">Menu</a></div>
        <ul class="site-menu mm-listview scrollable-content">

        </ul>
    </div>
</div>
